
body {
  font-family: 'Source Sans Pro';
}

.v-select {
  width: 100%;
  max-width: 350px;
}

.vs {

&__dropdown-toggle {
   background: #FFFEFB;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   border: 0;
   font-size: 12px;
   line-height: 15px;
   color: #B4B4B4;
 }

&__selected-options {
   padding: 4px 16px;
 }

&__actions {
   margin: 0px 15px 0px 0px;
 }

&__dropdown-menu {
   background: #FFFEFB;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
   border: 0;
 }

}

main {
  padding: 32px 0px;
}

h1 {
  margin: 0px 0px 16px 0px;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3F3F3F;
}

.container {
  padding: 0px 30px;
}

.row {
  display: flex;
  margin: -8px;
}

.col-4 {
  flex: 0 0 25%;
  padding: 8px;
}

.col-8 {
  flex: 0 0 75%;
  padding: 8px;
}
